<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title of this documents</title>
</head>
<body>
<div>
    <h1>This is heading H1</h1>
    <h2>This is heading H2</h2>
    <h3>This is heading H3</h3>
    <h4>This is heading H4</h4>
    <h5>This is heading H5</h5>
    <h6>This is heading H6</h6>

    <p><b>Tip:</b> Use h1 to h6 elements only for headings. <span style="color:blue;font-weight:bold">Do not use</span> them just to make text bold or big. Use other tags
        for that</p>
    <p>This is a paragraph</p>
    <p>This is a paragraph</p>
    <p>This is a paragraph</p>
    <a href="https://www.w3schools.com">Visit W3schools.com</a>
    <img src="https://www.w3schools.com/images/colorpicker2000.webp" alt="Description image">
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>
    <ol>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ol>

    <ol start="40">
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ol>

    <form action="/submit" method="POST">
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email">
        <button type="submit">Click me!</button>
    </form>

    <table>
        <tr>
            <td>Ячейка 1</td>
            <td>Ячейка 2</td>
        </tr>
    </table>

</div>

</body>
</html>