<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>h1 text</h1>
    <h2>h2 text</h2>
    <h6>h6 text</h6>
    <p>Native mobile emulation of Google Chrome for Android and <span style="color: green">Mobile Safari</span>. The same rendering engine works on your
        Desktop and in the Cloud.</p>
    <a href="https://playwright.dev/python/" target="_blank">Python</a>
    <img alt="browsers.png" src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 250px">
    <ul>
        <li>Item1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="12345" placeholder="Введите текст">
        <input required type="email" placeholder="Введите email">
        <input type="password" placeholder="Введите пароль">
        <textarea required placeholder="Text">12345</textarea>
        <button type="submit">Tekst</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>

        </thead>
        <tbody>
        <td>Row 1</td>
        <td>Row 2</td>
        <td>Row 3</td>


        </tbody>
    </table>
</div>


</body>
</html>